html {
    font-family: Helvetica, sans-serif;
}

header {
    text-align: center;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}